<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/11d5f159-a21d-4a6c-8053-c3aae30057cf/resourcegroups/TripPlanner20180723014509ResourceGroup/providers/Microsoft.Web/sites/TripPlanner20180723014509</ResourceId>
    <ResourceGroup>TripPlanner20180723014509ResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://tripplanner20180723014509.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>tripplanner20180723014509.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>TripPlanner20180723014509</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$TripPlanner20180723014509</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="TripPlanner.Repositories.ActivityPointsDbContext" Order="1" Enabled="False">
          <Destination Path="Data Source=trip-planner.database.windows.net;Initial Catalog=TripPanerDB;Persist Security Info=True;User ID=TripPlannerAdmin;Application Name=EntityFramework" Name="Data Source=trip-planner.database.windows.net;Initial Catalog=TripPanerDB;Persist Security Info=True;User ID=TripPlannerAdmin;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="TripPlanner.Repositories.ActivityPointsDbContext, TripPlanner" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="TripPanerDBEntities" Order="2" Enabled="False">
          <Destination Path="Data Source=trip-planner.database.windows.net;Initial Catalog=TripPanerDB;Persist Security Info=True;User ID=TripPlannerAdmin;Application Name=EntityFramework" Name="Data Source=trip-planner.database.windows.net;Initial Catalog=TripPanerDB;Persist Security Info=True;User ID=TripPlannerAdmin;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=trip-planner.database.windows.net;Initial Catalog=TripPanerDB;Persist Security Info=True;User ID=TripPlannerAdmin;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\TripPanerDBEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.ActivityPoint.csdl|res://*/Models.ActivityPoint.ssdl|res://*/Models.ActivityPoint.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=trip-planner.database.windows.net;initial catalog=TripPanerDB;persist security info=True;user id=TripPlannerAdmin;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ActivityPoint" Order="3" Enabled="False">
          <Destination Path="Data Source=trip-planner.database.windows.net;Initial Catalog=TripPanerDB;Persist Security Info=True;User ID=TripPlannerAdmin;Application Name=EntityFramework" Name="Data Source=trip-planner.database.windows.net;Initial Catalog=TripPanerDB;Persist Security Info=True;User ID=TripPlannerAdmin;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=trip-planner.database.windows.net;Initial Catalog=TripPanerDB;Persist Security Info=True;User ID=TripPlannerAdmin;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ActivityPoint_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=trip-planner.database.windows.net;initial catalog=TripPanerDB;persist security info=True;user id=TripPlannerAdmin;multipleactiveresultsets=True;application name=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="TripPanerDBEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.ActivityPoint.csdl|res://*/Models.ActivityPoint.ssdl|res://*/Models.ActivityPoint.msl;provider=System.Data.SqlClient;provider connection string="data source=trip-planner.database.windows.net;initial catalog=TripPanerDB;persist security info=True;user id=TripPlannerAdmin;multipleactiveresultsets=True;application name=EntityFramework;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="ActivityPoint-Web.config Connection String">
      <ParameterValue>Data Source=trip-planner.database.windows.net;Initial Catalog=TripPanerDB;Persist Security Info=True;User ID=TripPlannerAdmin;MultipleActiveResultSets=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="TripPlanner.Repositories.ActivityPointsDbContext-Web.config Connection String">
      <ParameterValue>Data Source=trip-planner.database.windows.net;Initial Catalog=TripPanerDB;Persist Security Info=True;User ID=TripPlannerAdmin;MultipleActiveResultSets=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="TripPlanner.Repositories.ActivityPointsDbContext" />
  </ItemGroup>
</Project>